* {
    font-family: 'Lora', serif;
}

.hero {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
}

.item {
    min-height: 35rem;
    min-width: 25rem;
    padding: 40px;
    position: relative;
}

.place-image {
    width: 100%;
    height: 100%;
    border: 0.5rem solid white;
    border-radius: 2rem;
    pointer-events: none;
}

.inner-carousel {
    display: flex;
}

.carousel {
    overflow: hidden;
    cursor: grab;
}

.card-title {
    font-size: 2.5rem;
    position: absolute;
    bottom: 1rem;
    left: 4rem;
    color: rgb(226, 226, 226);
}

.place-container {
    width: 30%;
    color: whitesmoke;
}

input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    font-size: 20px;
}

input[type=date] {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 20px;
    margin-top: 10px;
}

input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
    font-size: 20px;

    &:hover {
        background-color: #45a049;
    }
}

.form-container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 20px;
    opacity: 80%;
}

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
}

.item1 {
    color: rgb(219, 219, 219);
}

.date-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between
}

label {
    font-size: 20px;
}

.heading-text {
    color: whitesmoke;
    text-align: center;
    font-size: 35px;
}

@media only screen and (max-width: 1100px) {
    .container {
        display: inline;
    }
}

body {
    background-attachment: fixed;
    background-size: cover;

}

#container {
    box-shadow: 0 15px 30px 1px grey;
    background: rgba(255, 255, 255, 0.90);
    text-align: center;
    border-radius: 5px;
    overflow: hidden;
    margin: 5em auto;
    height: 350px;
    width: 700px;


}



.product-details {
    position: relative;
    text-align: left;
    overflow: hidden;
    padding: 30px;
    height: 100%;
    float: left;
    width: 40%;

}

#container .product-details h1 {
    font-family: 'Bebas Neue', cursive;
    display: inline-block;
    position: relative;
    font-size: 30px;
    color: #344055;
    margin: 0;

}

#container .product-details h1:before {
    position: absolute;
    content: '';
    right: 0%;
    top: 0%;
    transform: translate(25px, -15px);
    font-family: 'Bree Serif', serif;
    display: inline-block;
    background: #ffe6e6;
    border-radius: 5px;
    font-size: 14px;
    padding: 5px;
    color: white;
    margin: 0;
    animation: chan-sh 6s ease infinite;

}






.hint-star {
    display: inline-block;
    margin-left: 0.5em;
    color: gold;
    width: 50%;
}


#container .product-details>p {
    font-family: 'EB Garamond', serif;
    text-align: center;
    font-size: 18px;
    color: #7d7d7d;

}

.control {
    position: absolute;
    bottom: 20%;
    left: 22.8%;

}

.btn {

    transform: translateY(0px);
    transition: 0.3s linear;
    background: #809fff;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    outline: none;
    border: none;
    color: #eee;
    padding: 0;
    margin: 0;

}

.btn:hover {
    transform: translateY(-6px);
    background: #1a66ff;
}

.btn span {
    font-family: 'Farsan', cursive;
    transition: transform 0.3s;
    display: inline-block;
    padding: 10px 20px;
    font-size: 1.2em;
    margin: 0;

}

.btn .price,
.shopping-cart {
    background: #333;
    border: 0;
    margin: 0;
}

.btn .price {
    transform: translateX(-10%);
    padding-right: 15px;
}

.btn .shopping-cart {
    transform: translateX(-100%);
    position: absolute;
    background: #333;
    z-index: 1;
    left: 0;
    top: 0;
}


.product-image {
    transition: all 0.3s ease-out;
    display: inline-block;
    position: relative;
    overflow: hidden;
    height: 100%;
    float: right;
    width: 45%;
    display: inline-block;
}

#container img {
    width: 100%;
    height: 100%;
}

.login-form {
    background: #fff;
    width: 500px;
    margin: 65px auto;
    display: flex;
    flex-direction: column;
}

.login-form h1 {
    font-weight: 300;
}

.login-form .content {
    text-align: center;
}

.login-form .input-field {
    padding: 10px 5px;
}

.login-form .input-field input {
    font-size: 20px;
    display: block;
    width: 100%;
    padding: 10px 1px;
    border: 0;
    border-bottom: 1px solid #747474;
    outline: none;
    -webkit-transition: all .2s;
    transition: all .2s;
}

.login-form .input-field input:focus {
    border-color: #222;
}


.login-button {
    background-color: #04AA6D;
    border: none;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 10px;
    margin-top: 20px;
    color: whitesmoke;

    &:hover {
        background-color: #057e51;
    }
}

.google-signin-btn {
    background-color: rgb(243, 80, 80);
    border: none;
    cursor: pointer;
    padding: 10px 10px;
    color: whitesmoke;
    font-size: 15px;
    border-radius: 10px;

    &:hover {
        background-color: rgb(197, 51, 51);
    }
}

.logout-btn {
    background: transparent;
    border: none;
    color: whitesmoke;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}